<div class="ng-scope container">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
      <div class="account-wall">
        <img class="profile-img" src="assets/images/login.png" alt="">
        <p class="alert alert-info">
          <strong>{{$root.labels.ingUsuario}}</strong>
          {{$root.labels.sEnvEmailResPass}}
        </p>
        <form class="form-signin" name="forgotForm" id="forgotForm" novalidate>
          <md-input-container id="user-input">
            <input required name="user" id="user" ng-model="frgCtrl.user" type="text" class="form-control" placeholder="{{$root.labels.user}}" required autofocus>
            <div ng-messages="forgotForm.user.$error" ng-show="forgotForm.$dirty">
              <div ng-message="required">{{$root.labels.cmpUsrReq}}</div>
            </div>
          </md-input-container>
          <md-button class="btn btn-lg btn-primary btn-block" ng-click="frgCtrl.send(forgotForm)">{{$root.labels.enviar}}</md-button>
        </form>
      </div>
    </div>
  </div>
</div>
