<!-- Sidebar -->
<div id="sidebar-wrapper" ng-class="$root.mostrar">
  <ul class="sidebar">
    <li class="cerrar-menu sidebar-list">
      <a class="menu-icon glyphicon glyphicon-indent-right" href="" ng-click="vm.cerrarMenu()" title="{{$root.labels.crrMenu}}"></a>
    </li>
    <li class="sidebar-main">
      <a href="#">
        {{$root.labels.inicio}}
        <span class="menu-icon glyphicon glyphicon-home"></span>
      </a>
    </li>
    <li class="sidebar-title">
      <span>NAVIGATION</span>
    </li>
    <li class="sidebar-list">
      <a href="#">Dashboard
        <span class="menu-icon fa fa-tachometer"></span>
      </a>
    </li>
  </ul>
  <div class="sidebar-footer">
    <div class="col-xs-4">
      <a href="https://github.com/rdash/rdash-angular" target="_blank">
        Github
      </a>
    </div>
    <div class="col-xs-4">
      <a href="https://github.com/rdash/rdash-angular/README.md" target="_blank">
        About
      </a>
    </div>
    <div class="col-xs-4">
      <a href="#">
        Support
      </a>
    </div>
  </div>
</div>
<!-- End Sidebar -->
