<nav class="navbar navbar-static-top navbar-inverse">
  <ul class="header-inner">
    <li class="logo">
      <a href="">
        <img alt="awaa" ng-src="assets/images/logo.png"/>
      </a>
      <div id="menu-trigger">
        <i class="zmdi zmdi-menu"></i>
      </div>
    </li>
    <li class="dropdown">
      <a class="hi-messages" data-toggle="dropdown" href=""></a>
      <div class="dropdown-menu hi-dropdown">
        <div class="list-group lg-alt"></div>
      </div>
    </li>
  </ul>
</nav>
